<div class="panel panel-default" id='shipping_method' data-hook>
  <div class="panel-heading">
    <h3 class="panel-title"><%= Spree.t(:select_destinatary) + ' ' + (@order.user.free_cards > 0 ? '(You don\'t have to pay for this order because of your subscription)' : '') %></h3>
  </div>
  <div class="panel-body" data-hook="shipping_method_inner">
    <div id="methods">
      <%= form.fields_for :destinatary do |destinatary_form| %>
        <p class="form-group">
          <%= destinatary_form.label :email do %>
            <%= Spree.t(:destinatary_email) %><abbr class="required" title="required">*</abbr>
          <% end %>
          <input class="form-control" required="required" type="email" name="order[destinatary_email]" id="order_destinatary_email">
        </p>
      <% end %>
    </div>
  </div>
</div>

<br />

<div class="well text-right form-buttons" data-hook="buttons">
  <%= submit_tag Spree.t(:save_and_continue), class: 'btn btn-lg btn-success' %>
</div>

